/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/ressources/images/**/*.jpg
/web/ressources/images/**/*.png
/web/ressources/images/**/*.gif
/web/ressources/images/**/*.jpeg
!/web/ressources/images/logo.jpg
!/web/ressources/images/favicon.jpg
!/web/ressources/images/bg-footer.jpg
!/web/ressources/images/car01.jpg
/src/AppBundle/Entity/*~
/web/publications/**/*.pdf
/web/publications/**/*.doc
/web/publications/**/*.docx
/web/publications/**/*.xml
/web/publications/**/*.ppt
/web/publications/**/*.jpg
/web/publications/**/*.png
/web/publications/**/*.gif
