<div class="col-md-8 jve-article">
  <h2>Titre de la page</h2>
  <img src="ressources/images/logo.jpg" alt="" class="thumbnail img-droite">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore adipisci modi ullam, soluta atque. Error, dolor. Obcaecati laboriosam ea, natus vero, laborum deleniti officiis minima unde iste cupiditate aut magnam.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <div class="jve-photo">
    <i class="fa fa-folder-open-o fa-lg"></i>
    <a href="#">Voir l'albums photos correspondant</a>
  </div>
  <div class="jve-auteur">
    <div class="nom">Dieudonne AMOIKON</div>
    <div class="date">06-02-2017</div>
  </div>
</div>
